<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List your space with Makers BnB</title>
  </head>
  <body>
    <form action="/spaces/add" method="post">
      <input type="text" name="title" placeholder="Enter the name of your listing">
      <input type="text" name="description" placeholder="Enter a description">
      <input type="text" name="address" placeholder="Enter an address">
      <input type="text" name="price_per_night" placeholder="Please enter how much per night">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
