<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Makers BnB</title>
  </head>
  <body>
    <% if @user %>
      <h1> Welcome to MakersBnB, <%= @user.first_name %> </h1>
    <% end %>

  </body>
  <script src="src/interface.js" charset="utf-8"></script>
</html>
