<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Makers BnB</title>
  </head>
  <body>

  </body>
  <script src="src/interface.js" charset="utf-8"></script>
</html>
