<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Makers BnB</title>
  </head>
  <body>
    <% if @user %>
      <h1> Welcome to MakersBnB, <%= @user.first_name %> </h1>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
      </form>
      <form action="/spaces" method="get">
        <input type="submit" value="Spaces" />
      </form>
    <%else %>
      <h1> Welcome to MakersBnB </h1>
    <% end %>
  <% if @user.nil? %>
  <center><h1><center>Sign up now!</center></h1><br><br>
  <form action="/users/new" method="post">
    <label for="sign-up-details"><br><br>
    First Name:
    <input type="text" name="first_name" required><br><br>
    Last Name:
    <input type="text" name="last_name" required><br><br>
    email
    <input type="text" name="email" required><br><br>
    Mobile Number:
    <input type="text" name="mobile" required><br><br>
    Password
    <input type="password" name="password" required><br><br>
    <input type="submit" value="Submit">
  </form><br>
  <p> Already a user? click <a href='/sessions/new'>here</a></center></center>
  <% end %>
  </body>
  <script src="src/interface.js" charset="utf-8"></script>
</html>
