<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>All Spaces</title>
  </head>
  <body>
    <div id="header">
      <div id="links">
        <a href="/users/sign_out">Sign out</a>
        <a href="/requests">Requests</a>
      </div>
    </div>
    <div id="body-container">
      <p>Requests</p>
      <div class="row">
        <div class="column">
          <p>Requests I've made</p>
          <p><% @user.user_id %></p>
          <p><% @requests_made_info.length %></p>
          <% @requests_made_info.each do |info| %>
          <div id="list-element">
            <div id="space-footer">
              <h2><%= "#{ info["space_title"] }" %></h2>
              <h2><%= "#{ info["space_host"] }" %></h2>
            </div>
            <% end %>
        </div>
        <div class="column">
          <p>Requests I've received</p>

        </div>
      </div>

    </div>
    <div id="footer">
      <h3>© Makers BnB</h3>
    </div>
  </body>
</html>
