<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="body-container">
      <center><h1><center>Enter your details to login:</center></h1><br><br>
      <form action="/sessions" method="post">
        <label for="sign-in-details"><br><br>
        email
        <input type="text" name="email" required><br><br>
        Password
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Submit">
      </form><br>
    </div>
  </body>
  <script src="src/interface.js" charset="utf-8"></script>
</html>

<%= flash[:notice] %>
