<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   
    <script src="/src/jquery.js"></script>
    <script src="/src/interface.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="body-container">
      <center><h1><center>Enter your details to login:</center></h1><br><br>
      <form action="/sessions" method="post">
        <label for="sign-in-details"><br><br>
        email
        <input type="text" name="email" required><br><br>
        Password
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Submit">
      </form><br>
    </div>
  </body>
</html>
